---
import BaseLayout from "../layouts/Base.astro";
---

<BaseLayout>
  <h1
    class="font-original-surfer text-6xl flex md:justify-start justify-center py-2"
  >
    a lost duck.
  </h1>

  <span class="font-jetbrains-mono">404</span>
</BaseLayout>
