---
import BaseLayout from "../layouts/Base.astro";
---

<BaseLayout>
	<span class="text-3xl font-fugaz-one">Hi, I'm Kaushik</span><br/>
	Hobbyiest developer and Statistics student<br/>

	Welcome to my profile. I'm a hobbyiest developer, data science and analytics enthusiast and student, pursing master's degree in Statistics. Thanks for visiting my profile.
	<h4 class="font-fugaz-one text-3xl py-4">project</h4>
	currently none
	<h4 class="font-fugaz-one text-3xl py-4">blog</h4>
	currently none
</BaseLayout>