---
const { href } = Astro.props;
const isActive = href === Astro.url.pathname || href === Astro.url.pathname.replace(/\/$/, '');
---

<h1 class="font-original-surfer text-6xl flex md:justify-start justify-center py-2">ducklyst.</h1>
<!-- <h6 class="font-jetbrains-mono text-xl py-2">Kaushik - Data Science Enthuast</h6> -->
<div class="grid grid-rows-2 grid-cols-none md:grid-rows-none md:grid-cols-2">
  <div class="flex gap-2 flex-row py-8 font-jetbrains-mono md:justify-start justify-center">
    <a class="hover:bg-amber-950 hover:text-white {isActive ? 'bg-amber-950 text-white' : ''}" href="/">home</a>
    /
    <a class="hover:bg-amber-950 hover:text-white {isActive ? 'bg-amber-950 text-white' : ''}" href="/about">about</a>
    /
    <a class="hover:bg-amber-950 hover:text-white {isActive ? 'bg-amber-950 text-white' : ''}" href="/blog">blog</a>
  </div>
  <div class="flex gap-2 flex-row py-8 font-jetbrains-mono md:justify-end justify-center">
    <a class="hover:bg-amber-950 hover:text-white" target="_blank" href="https://github.com/ducklyst">github</a>
    /
    <a class="hover:bg-amber-950 hover:text-white" target="_blank" href="https://linkedin.com/in/kaushiknath783/">linkedin</a>
    /
    <a class="hover:bg-amber-950 hover:text-white" target="_blank" href="https://www.kaggle.com/boredkaushik">kaggle</a>
  </div>
</div>
